<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>Thanks for your application!</title>
</head>

<body>
	<h2>Thank you for your application!</h2>

	<p class="thankyou">Here is a summary of your submitted information. Thank you for your inquiry about our position in our fast-growing company, Ubermelon.</p>

	<p class="applicationinfo">
		You have applied for a {{ jobtype }} position.
	</p>

	<p class="applicationinfo">
		Your full name is {{ firstname }} {{ lastname }}.
	</p>

	<p class="applicationinfo">
		Your salary requirement is ${{ salaryreq }}.
	</p>

	<p id="processtime">*Process time is directly porportional to your salary requirement and may take up to one year to review and process your application. Please be patient with us. Thank you. </p>

</body>

</html>